In [9]:
# creating tuples
# empty
t1 = ()
print(t1)
# create a tuple with single item
t2 = (2) # wrong way
print(t2)
print(type(t2))
t3 = ('2',)
print(t3)
print(type(t3))
# homo
t4 = (1,2,3,4)
print(t4)
# hetro
t5 = (1,2,5,True,[1,2,3])
print(t5)
# 2D , tuple within a tuple
t6 = (1,2,3,(4,5))
print(t6)
# using type convertion
t7 = tuple('hello')
print(t7)

()
2
<class 'int'>
('2',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2, 5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [14]:
# indexing
print(t4)
print(t4[0])
print(t4[-1])
# slicing
print(t4[0:4])
print(t4[0:4:2])
print(t4[2:4])
print(t4[::-1])

(1, 2, 3, 4)
1
4
(1, 2, 3, 4)
(1, 3)
(3, 4)
(4, 3, 2, 1)

In [15]:
print(t4)
t4[0] = 100
# immutable,just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [16]:
# adding not possible
print(t4)

(1, 2, 3, 4)

In [17]:
# delete
print(t4)
del (t3)
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [19]:
print(t5)
del t5[-1]
print(t5)

(1, 2, 5, True, [1, 2, 3])

TypeError: 'tuple' object doesn't support item deletion

In [24]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)
print(t1*3)
# membership
print(1 in t1)
print(1 not in t1)
5 not in t2
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
False
1
2
3
4

In [26]:
# len/sum/min/max/sorted
t = (1,2,3,4)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

In [28]:
# count
t = (1,2,3,4,5)
t.count(5)

1

In [29]:
#index
t.index(5)

4

In [31]:
# not error prone, as immutable
a = (1,2,3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [32]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [33]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [34]:
# swapping
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [35]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [37]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
zip(a,b)
print(tuple(zip(a,b)))

((1, 5), (2, 6), (3, 7), (4, 8))

In [45]:
# creating set
# empty
s = {} # wrong way
print(s)
print(type(s))
s_ = set()
print(s_)
print(type(s_))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4,5,True} # True is treated as 1
print(s3)
s_3 = {1,'hello',4.5,(1,2,3)} 
#printing order of items sets is decided by hashing
print(s_3)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3}
{1, 'hello', 4, 5}
{1, 'hello', 4.5, (1, 2, 3)}

In [46]:
s = {1,'hello',4.5,[1,2,3]} 
print(s)

TypeError: unhashable type: 'list'

In [47]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1 == s2)

True

In [48]:
# accessing item
s1 = {1,2,3,4}
s1[0]

TypeError: 'set' object is not subscriptable

In [49]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

In [51]:
# adding item
# add
s = {1,2,3,4}
s.add(5)
print(s)
# update, to add multiple items
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [52]:
# del
s = {1,2,3,4,5}
print(s)
del s
print(s)
# del s[0] (not allowed)
#print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [57]:
# discard
s = {1,2,3,4,5}
s.discard(5)
print(s)
s.discard(50)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [58]:
# remove
s = {1,2,3,4,5}
s.remove(4)
print(s)
s.remove(50)
print(s)

{1, 2, 3, 5}

KeyError: 50

In [61]:
# pop
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [62]:
# clear
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [65]:
# set operations
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union
print(s1|s2)
# intersaction
print(s1&s2)
# difference
print(s1-s2)
print(s2-s1)
# symmetric difference(^)
print(s1^s2)
# membership test
print(1 not in s1)
# iteration
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
False
1
2
3
4
5

In [67]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
22
1
7
[1, 2, 3, 4, 5, 7]

In [70]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.union(s2))
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [71]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [72]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1. difference(s2))
s1. difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [73]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [74]:
# isdisjoint
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.isdisjoint(s2)

False

In [75]:
# issubset
s1 = {1,2,3,4,5}
s2 = {3,4,5}
print(s2.issubset(s1))
# superset
print(s2.issuperset(s1))

True
False

In [76]:
# copy
s1 = {1,2,3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [79]:
# create frozenset
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [80]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])
fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [81]:
# 2D
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [82]:
# set comprehension
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [83]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [118]:
# dictionary
# empty dictionary
d = {}
print(d)
# 1D dictionary
d1 = {'name':'Nitish','age':33,'Gender':'male'}
print(d1)
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
print(d2)
# 2D dictionary
s = {
    'Name':'Ananta',
    ' College':'bit',
    'Sem':4,
    'Subjects':{
        'DSA':50,
         'Maths':67,
        'English':34
     }
}
print(s)
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
print(d4)
# duplicate keys
d5 = {'name':'Nitish','name':'Rahul'}
print(d5)
# mutable items as keys
d6 = {'name':'nitish',(1,2,3,4):2}
print(d6)
d7 = {'name':'nitish',[1,2,3,4]:2}
print(d7)
d8 = {'name':'nitish',{1,2,3,4}:2}
print(d8)

{}
{'name': 'Nitish', 'age': 33, 'Gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 50, 'Maths': 67, 'English': 34}}
{'name': 'nitish', 'age': 32, 3: 3}
{'name': 'Rahul'}
{'name': 'nitish', (1, 2, 3, 4): 2}

TypeError: unhashable type: 'list'

In [101]:
# Accessinng items
my_dict = {'name':'Jack','Age':26}
# []
print(my_dict['Age'])
# get
print(my_dict.get('name'))

26
Jack

In [106]:
# adding key-value pair
d4['gender'] = 'male'
d4['weight'] = 72
d4

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [109]:
# remove key-value pair
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
print(d)
# popitem
d.popitem()
d.popitem()
print(d)
# del
del d['name']
print(d)
# clear
d.clear()
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'age': 32}
{'age': 32}
{}

In [119]:
# accessing item from 2D dictionary
print(s)
print(s['Subjects'])
print(s['Subjects']['Maths'])

{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 50, 'Maths': 67, 'English': 34}}
{'DSA': 50, 'Maths': 67, 'English': 34}
67

In [121]:
# adding key-value pair in 2D dictionary
print(s)
s['Subjects']['ds'] = 75
print(s)

{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 50, 'Maths': 67, 'English': 34}}
{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 50, 'Maths': 67, 'English': 34, 'ds': 75}}

In [122]:
# deleting in 2D array
print(s)
del s['Subjects']['Maths']

{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 50, 'Maths': 67, 'English': 34, 'ds': 75}}

In [124]:
# editing key-value pair
s['sem'] = 5
print(s)
s['Subjects']['DSA'] = 80
print(s)

{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 50, 'English': 34, 'ds': 75}, 'sem': 5}
{'Name': 'Ananta', ' College': 'bit', 'Sem': 4, 'Subjects': {'DSA': 80, 'English': 34, 'ds': 75}, 'sem': 5}

In [127]:
# membership
print('Ananta' in s)
print('Name' in s)

False
True

In [129]:
d = {'name':'nitish','gender':'male','age':20}
for i in d:
    print(i)
    print(i,d[i])

name
name nitish
gender
gender male
age
age 20

In [135]:
#len/sorted/min/max
len(d)
print(d)
print(sorted(d,reverse=True))
print(min(d))

{'name': 'nitish', 'gender': 'male', 'age': 20}
['name', 'gender', 'age']
age

In [137]:
# items/keys/values
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 20}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 20)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 20])

In [139]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [140]:
# dictionary comprehension
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [147]:
# using existing dict
dist = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(dist.items())
{key:value*0.62 for (key,value) in dist.items()}

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [149]:
# using zip
days = ['sun','mon','tue','wed','thur','fri','sat']
temp_c = [30.5,32.6,31.8,33.8,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_c)}

{'sun': 30.5,
 'mon': 32.6,
 'tue': 31.8,
 'wed': 33.8,
 'thur': 29.8,
 'fri': 30.2,
 'sat': 29.9}

In [151]:
# using if connditons
products = {'phn':10,'laptop':0,'charge':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phn': 10, 'charge': 32}

In [152]:
# nested comprehension
# print tables of numbers from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}